<button
  class="border border-r-0 border-primary px-2 rounded-l-lg py-3 min-h-0 h-2 flex justify-center items-center"
  (click)="Item && decrementQuantity(Item.product.id)"
>
  <ng-icon name="ionRemove" size="12"></ng-icon>
</button>
<input
  type="text"
  class="text-center rounded-none border-y border-primary bg-transparent h-2 py-3 !w-5 text-base font-normal focus:outline-none"
  readOnly
  [value]="Item?.quantity"
/>
<button
  class="border border-l-0 border-primary px-2 rounded-r-lg py-3 min-h-0 h-2 flex justify-center items-center"
  (click)="Item && incrementQuantity(Item.product.id)"
>
  <ng-icon name="ionAdd" size="12"></ng-icon>
</button>
